.p-datatable-tbody > tr > td {
  padding: 0;
}

.p-datatable-tbody > tr {
  padding: 0;
}

.panel-surface {
  background-color: var(--p-accordion-content-background, #111827);
}

:host ::ng-deep .p-accordion .p-accordion-content {
  background-color: var(--p-accordion-content-background, #111827);
}
